body {
    background-color: #E5E5E5;
    max-width: 700px;
  
}
h1 {
    font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #171717;
}

h3 {
font-family: 'Public Sans', sans-serif;
font-style: normal;
font-weight: 500px;
font-size: 16px;
line-height: 19px;
color: #171717;

}

hr {
    
    background-color: #D1D1D1; 

    height: 1px; 
    width: 816px;
    margin-left: 43px;
}

#hr_1 {
    position:absolute;
    top: 1043px;
}
#hr_2 {
    position: absolute;
    top: 2045px;
}
.h1_s1 {
    position: absolute;
    top: 64px;
    left: 48px;

}
.main_s1_Mf {
    font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
display: flex;
align-items: center;
position: absolute;
top: 171px;
left: 43px;
}
.star {
  color: #D83933;
    display:inline-block;
}


.first_section {
    position: absolute;
    top: 215px;
    left: 43px;
    right: 45px;
    width: 410px;
    display:inline-block;

}


.second_section {
position: absolute;
top: 266px;
left: 497px;
right: 45px;
width: 392px;

}

.app_regist {
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #0050D8;
}



.decision {
    width: 392px;
    height: 40px;
    border: 1px solid #ADADAD;
border-radius: 4px;
order: 1;
align-self: stretch;
box-sizing: border-box;
margin-top: 8px;
}


#purged {
    width: 24px;
height: 24px;
border: 1px solid #ADADAD;
border-radius: 2px;
position:absolute;
top: 710px;
left: 493px;
}

#EIDj {
    background: #EFEFEF;
    
    }
    #ESDO {
        background: #EFEFEF;
    }

    

    #purged_2{
        position: relative;
        top: 42px;
        left: 210px;
    width: 24px;
    height: 24px;


    }

    .second_section_two {
        position: absolute;
        top: 487px;
    }
    #name_purged {
        position: absolute;
        top: 705px;
    left: 524px;
    }
   .maternity_info {
    position: absolute;
    top: 1073px;
    left: 43px;
   }

   #MI {
    width: 24px;
height: 24px;
position: absolute;
top: 1177px;
left: 43px;
   }

   .s2_MI {
    width: 400px;
    position:absolute;
    top: 1159px;
    left: 92px;
   }

   #MI_guestion2 {
    position: absolute;
    top: 1113px;
    left: 497px;
    width: 500px;
   }

   .MI_guestion2_select {
    position: absolute;
    top: 1160px;
    left: 497px;
    width: 392px;
    height: 40px;
    border: 1px solid #ADADAD;
border-radius: 4px;
order: 1;
align-self: stretch;
box-sizing: border-box;
margin-top: 8px;
   }

   .fourth_section_1 {
    position: absolute;
top: 1342px;
left: 43px;
right: 469px;
width: 392px;
display:inline-block;
   }

   .fourth_section_2 {
    position: absolute;
top: 1394px;
left: 497px;
right: 469px;
width: 392px;
display:inline-block;
   }

  .in_search {
    margin-top: 7px;
    
  }
 #search {
    width: 20.31px;
    position: absolute;
    top: 366px;
    left: 365px;
 }

 #search_2 {
    width: 20.31px;
    position: absolute;
    top: 464px;
    left: 365px;
 }
 .Sy_info {
    position: absolute;
    top: 2064px;
    left: 43px;
 }
 .fifth_section_1 {
position: absolute;
top: 2158px;
left: 43px;
width: 392px;
display:inline-block;
 }


 .fifth_section_2 {
    position: absolute;
    top: 2158px;
    left: 497px;
    width: 392px;
    display:inline-block;
 }



 #search_ETbY {
    width: 20.31px;
    position: absolute;
    top: 68px;
    left: 365px;
 }
 #search_worker {
    width: 20.31px;
    position: absolute;
    top: 170px;
    left: 365px;
 }
 #search_ISo {
    width: 20.31px;
    position: absolute;
    top: 167px;
    left: 365px;
 }

 #search_Oo {
    width: 20.31px;
    position: absolute;
    top: 67px;
    left: 365px;
 }

 input {
    color: #0050D8;
 }

 .next {
    font-family: 'Public Sans';
font-style: normal;
font-weight: 800;
text-align: center;
color: #FFFFFF;
background: #0050D8;
width: 69px;
height: 28px;
border-radius: 9px;
position: absolute;
top: 2519px;
left: 806px;
padding-top: 9px;

 }

 