body {
    max-width: 1920px ;
    background-color:#FFFCFC;
}




header{
    position: sticky;
    background-color: black;
    width: 1920px;
    height: 129px;
    top:0;
}

.header {
    font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;
display: inline;
padding-left: 880px;
list-style-type: none;
overflow: hidden;
margin-left: 880px;

}
.header_list {
    float: right;
    padding-right: 75px;
	text-decoration: none;
	color: #FFFFFF;
}

#kipartz {
position: absolute;
left: 0px;
top: 0px;
background-color: #FFFCFC;
}

.pages {
    border: 3px solid black ;
    height: 1080px;
    width: 1914px;
    animation: animationImage infinite ;
}


#rectangle21{
width: 370px;
height: 583px;
position: relative;
top: 318px;
left: 43px;
}
#rectangle20 {
    width: 465px;
height: 410px;
position: absolute;
top: 200px;
left: 485px;

}
#rectangle25 {
    width: 465px;
height: 410px;
position: absolute;
top: 652px;
left: 485px;
}
#rectangle22 {
    width: 467px;
    height: 410px;
	position: absolute;
	top: 200px;
	left: 968px;
	
    
}
#rectangle23 {
    width: 475px;
height: 413px;
position: absolute;
	top: 652px;
	left: 968px;
	

}
#rectangle24 {
    width: 367px;
	position: absolute;
	top: 318px;
	left: 1507px;

}
 #mp_page2 {
	width: 50%;

 }

 .ellipses {
	width: 250px;
height: 250px;
top: 80px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
 
 }

 .text_under {
	font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;
}

.page-2-cont {
	display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 100%;

}

.page-2-circle-pht {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 50%;
	position: relative;
 
}

.header-page-3 {
	font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 116px;
width: 1787px;
align-items: center;
text-align: center;
top: 142px;
left: 66px;
}
.all-img-page-3 {
	display: flex;
   justify-content: space-between;

}

.img-3 {
	width: 20%;
	position: relative;
	margin-right: 1rem;
	display: flex;
	justify-content: center;
 
}

.all-img-page-3:hover div.img-3 {
	opacity: 0.6;
border-radius: 40px;
 }
 .all-img-page-3 div.img-3:hover {
	opacity: 1;
 }
 .text-on {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 0;
	margin: 0; 
   overflow: hidden;
   font-weight: 400;
   font-size: 48px;
   text-align: center;
   color: #fffafa;
   background: rgba(163, 83, 10, 0.7);
   border-radius: 0 0 26px 26px;
 
 }
 
 .img-3:hover span {
	height: 20%;
	transition: 1s;
	padding-top: 1.5rem;
 }

 .page-4-all-items {

	justify-content: space-around;
	align-items: center;
 
 }
 
 .header-page-4 {
	font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 64px;
color: #000000;
width: 798px;
height: 173px;
margin-left: 162px ;

 }


 .first-inputs {

	width: 377px;
height: 80px;
background: #FFFFFF;
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: rgba(0, 0, 0, 0.5);
margin-left: 50px;
margin-top: 27px;
 }

 .third-item {
	width: 878px;
height: 209px;
margin-top: 45px;
margin-left: 29px;
background: #FFFFFF;
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: rgba(0, 0, 0, 0.5);
 }

 .form {
	background-color:#000000;
	position: relative;
	top: 169px;
	left: 162px;
	width: 936px;
	height: 400px;
	background: #E5E5E5;
	
 }

 .form-teg-info {
display: block;
 }

 #google-maps {
	position: absolute;
	left: 1150px;
	top: 3466px;
	width: 626px;
height: 570px;
 }

 .info-1 {
width: 565px;
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
position: absolute;
top: 4296px;
left: 162px;
 }

 .links-end{ 
	color: #000000;
	text-decoration: none;
 }

 .info-2{
	position: absolute;
	top: 4235px;
	left: 808px;
	width: 572px;
	font-family: 'Rosario';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
 }

 .info-3 {
	width: 390px;;
	font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #000000;
position: absolute;
top: 4235px;
left: 1368px;
 }

 .social-media {
	color: #000000;
	text-decoration: none;
 }



.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
    visibility: visible !important;	

}





@keyframes slideRight {
	0% {
		-webkit-transform: translateX(-2280px);
	}
	50%{
		transform: translateX(153px);
	}
			
	100% {
		transform: translateX(0px);
    
	}	
    
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		-webkit-transform: translateX(2880px);
	}
	50%{
		-webkit-transform: translateX(-153px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes circle-animation {
	0% {
	   transform: rotate(0deg) translateX(100%) rotate(0deg);
   }
   100% {
	transform: rotate(360deg) translateX(100%) rotate(-360deg);
	}
  }

  .ellipse-1 {
	animation: circle-animation 8s linear infinite;
	animation-delay: -2s;;
 
  }
 .ellipse-2 {
	animation: circle-animation 8s linear infinite;
   animation-delay: -4s;;

 }
 .ellipse-3 {
	animation: circle-animation 8s linear infinite;
	animation-delay: -6s;; 
 }
.ellipse-4 {
	animation: circle-animation 8s linear infinite;
   animation-delay: -8s;;

}











