body {
background-color: #f2a48a;
}

h1 {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
 
}

h2 {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: left;
padding-left: 25px;

}

section {
    display: grid;
    grid-template-columns: 250px 196px; 
    gap: 22px;
    grid-auto-flow: column;
  

    
}

section div:nth-child(1) {
    grid-row: 1/4;
   }

section div:nth-child(2) {
    grid-row: 4/5;
}

section div:nth-child(3) {
    grid-column: 2/4;
}

section div:nth-child(4) {
    grid-column: 2/3;
}

section div:nth-child(5) {
    grid-row: 3/5;
}

section div:nth-child(6) {
    grid-row: 2/4;
}
section div:nth-child(7) {
    grid-row: 4/5;
}


.grid_1 {
    height: 319px;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 0px 0px #000000;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  


}

.frame_3 { 
    text-align: left;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
width: 200px;
margin-top: 17px;
display:inline-block;

}

.gird_2 {
    width: 400px;
height: 117px;
background-color: #FFFFFF;
    box-shadow: 7px 7px 0px 0px #000000;
    border-radius: 20px;

}

.frame_5 {
    width: 350px;
    height: 64px;
    padding-left: 25px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}

.grid_3 {
    width: 250px;
height: 62px;
background-color: #FFFFFF;
    box-shadow: 7px 7px 0px 0px #000000;
    border-radius: 20px;

}
#goals {
    color: #29A71E;
}
#Dc {
    color: #3675B0;
}
#Frustrations {
    color: #E13535;
}

.grid_4 {
    width: 189px;
height: 101px;
background-color: #FFFFFF;
box-shadow: 7px 7px 0px 0px #29A71E;
border-radius: 20px;
}
ul {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
}

.gird_5 {
    background: #FFFFFF;
box-shadow: 7px 7px 0px #3675B0;
border-radius: 20px;
width: 189px;
height: 151px;
}

.gird_6 {
    width: 189px;
height: 165px;
    background: #FFFFFF;
box-shadow: 7px 7px 0px #E13535;
border-radius: 20px;
}

.gird_7 {
    width: 189px;
height: 89px;
background: #FFFFFF;
box-shadow: 7px 7px 0px #000000;
border-radius: 20px;
}

.frame_9 {
    padding-left: 25px;
}