
body{
    background-color:  #F5F5F5;
    max-width: 1920px;
}

body, ul{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
.headerbody_container {
    width: 2147px;

}

header {
    
    background-color: #202846;
    display:flex;
    justify-content: space-between;
    
    
}
.container {

    margin: 0 auto;
}
.header__logo {
    margin-left: 138px;
    width: 178.45px;
height: 70px;
margin-top: 10px;
margin-bottom: 10px;
}

.header__navigation__btn{
    position: relative;
    top: 15.5px;
    right: 265px;
}


.header__navigation {
    margin-left: 292.55px;
    list-style: none;
   display: flex;
   width: 54%;
   justify-content: space-between;
   margin-top: 35px;
   
   
}

.header__navigation a {
    color: #FFFFFF
}

.header__navigation + div > a {
    height: 29px;
}

.title2 {
    background-color: #C6C6DC;
    width: 1920px;
    height: 140px;
    color: #202846;
   font-size: 48px;
   font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
display: flex;
align-items: center;
padding-left: 227px;



}
.head2 {
    position: absolute;
    background-color: #E8E8E8;
    text-align: center;
    line-height: 36px;
align-items: center;
    margin-top: 56px;
    width: 1489px;
height: 73px;
font-size: 28px;
color: rgba(0, 0, 0, 0.61);
margin-left: 216px;

}

.number1 {
    position: absolute;
    left: 1441px;
    top: 18px;
    color: #000000;
}

.main {
    
    margin-left: 125px;
    margin-top: 185px;
   position: relative;

}

.card {
    background-color:  #BDBDC6;
    width: 1489px;
    margin: 90px;
    height: 300px;
    
    
  
}
.link_card :hover {
        color: #FFFAC0; 
        background: #AEAEE2;
       }
.link_more :hover {
    background: #EF075B ;
}





.table_img {

    width: 485px;
height: 244px;
margin-top: 28px;
margin-right: 901px;
margin-bottom: 28px;
margin-left: 103px;

}

.h3_1 {
    position: absolute;
margin-left: 688px;
top: 1px;
font-family: 'PT Sans', sans-serif;
font-weight: 700;
font-size: 36px;
display: flex;
align-items: center;
text-align: center;
color: #353C57;
border-bottom: 3px solid #FFFFFF ;
width: 712px;
}

.h3_2 {
    position: absolute;
    margin-left: 688px;
    top: 386px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF ;
    width: 712px;
}

.h3_3 {
    position: absolute;
    margin-left: 688px;
    top: 780px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF ;
    width: 712px;
}

.h3_4 {
    position: absolute;
    margin-left: 688px;
    top: 1174px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF ;
    width: 712px;
    padding-left: 24px;
padding-right: 24px;
}

.text1_inside_card {
    background-color: #D7D7DD;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
display: flex;
align-items: center;
text-align: center;
color: #202846;
width: 712px;
height: 184px;
position: absolute;
top: 96px;
margin-left: 690px;
padding-left: 24px;
padding-right: 24px;
}
.text2_inside_card {
    background-color: #D7D7DD;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
display: flex;
align-items: center;
text-align: center;
color: #202846;
width: 712px;
height: 184px;
position: absolute;
top: 480px;
margin-left: 690px;
padding-left: 24px;
padding-right: 24px;
}
.text3_inside_card {
    background-color: #D7D7DD;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
display: flex;
align-items: center;
text-align: center;
color: #202846;
width: 712px;
height: 184px;
position: absolute;
top: 876px;
margin-left: 690px;
padding-left: 24px;
padding-right: 24px;
}
.text4_inside_card {
    background-color: #D7D7DD;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
display: flex;
align-items: center;
text-align: center;
color: #202846;
width: 712px;
height: 184px;
position: absolute;
top: 1269px;
margin-left: 690px;
padding-left: 24px;
padding-right: 24px;
}

.vector_one {
    position: absolute;
    top: 2.34px;
    left: 1510px;
    color: #FFFFFF;
    font-size: 50px;
}
.vector_two {
    position: absolute;
    top: 390px;
    left: 1510px;
    color:#FFFFFF;
    font-size: 50px;
}
.vector_three {
    position: absolute;
    top: 775px;
    left: 1510px;
    color:#FFFFFF;
    font-size: 50px;
}
.vector_four {
    position: absolute;
    top: 1165px;
    left: 1510px;
    color:#FFFFFF;
    font-size: 50px;
}

.more_firstcard {
    position: absolute;
    top: 230px;
    left: 1433px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
background-color: #202846;
border-radius: 63.22px;
width: 200px;
height: 50px;
text-align: center;
padding-top: 15px;
}
.more_secondcard {
    position: absolute;
    top: 622px;
    left: 1433px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
background-color: #202846;
border-radius: 63.22px;
width: 200px;
height: 50px;
text-align: center;
padding-top: 15px;
}
.more_thirdcard {
    position: absolute;
    top: 1013px;
    left: 1433px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
background-color: #202846;
border-radius: 63.22px;
width: 200px;
height: 50px;
text-align: center;
padding-top: 15px;
}
.more_fourthcard {
    position: absolute;
    top: 1402px;
    left: 1433px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
background-color: #202846;
border-radius: 63.22px;
width: 200px;
height: 50px;
text-align: center;
padding-top: 15px;
}


.topNubex {
    position: fixed;
    right: 45px;
    bottom: 45px;
    bottom: 450px;
    font-size: 45px;
    color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: #5557689E;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
   }

   .personalink {
    color: #DCDCDC;
    font-size: 18px;

   }

   #personal_info {
background-color: #C6C6DC;
position: absolute;
width: 1920px;
height: 140px;
font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
color: #202846;
padding-left: 222px;
margin-top: 90px;
   }

   #info {
background-color: #BDBDC6;
position: absolute;
width: 1318px;
height: 498px;
top: 2280px;
left: 220px;
display: flex;


   }
   .list_info {
    list-style: none;
    font-family: 'PT Sans';
font-style: italic;
font-weight: 700;
font-size: 36px;
color: #353C57;
margin-left: 531px;
margin-top: 46px;
border-bottom: 3px solid #FFFFFF;
width: 712px;
   }
   .info_inside {
font-style: italic;
font-weight: 400;
font-size: 24px;
color: #353C57;
   }

   #avatar {
    position: absolute;
    width: 196px;
    height: 184px;
    margin-top: 77px;
    left: 167px;

   }
.change_avatar {
   position: absolute;
   top: 2588px;
   left: 365px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background-color:#69749B;
    border-radius: 63.22px;
    width: 248px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
.settings {
    position: absolute;
   top: 2688px;
   left: 365px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background-color:#484A54;
    border-radius: 63.22px;
    width: 248px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
.exit {
    position: absolute;
   top: 2858px;
   left: 800px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background-color:#202846;
    border-radius: 63.22px;
    width: 248px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.contactlink {
position: absolute;
top: 3000px;
    color: #DCDCDC;
    font-size: 18px;
}

#contacts {
    background-color: #C6C6DC;
    position: absolute;
width: 1920px;
height: 140px;
top: 3000px;
font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
color: #202846;
padding-left: 222px;
margin-top: 90px;
}

.map {
    position: absolute;
width: 577.28px;
height: 335px;
left: 960px;
top: 3519px;
}

.finish_info_tel {
    position: absolute;
    left: 452px;
    top: 3292px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
text-align: left;
border-bottom: 3px solid #202846;
width: 244px;
}
.finish_tel {
    position: absolute;
 top: 3350px;
    left: 452px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
color: #000000;
}

.finish_info_address {
    position: absolute;
    left: 452px;
    top: 3570px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
text-align: left;
border-bottom: 3px solid #202846;
width: 386px;
}
.finish_address {
    position: absolute;
    top: 3635px;
       left: 452px;
       font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #000000;
}
.finish_info_time {
    position: absolute;
    left: 835px;
    top: 3292px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
text-align: left;
border-bottom: 3px solid #202846;
width: 266px;
}

.finish_time {
    position: absolute;
    top: 3350px;
       left: 831px;
       font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #000000;
   text-align: center;
}

.finish_info_email {
    position: absolute;
    left: 1224px;
    top: 3292px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
text-align: left;
border-bottom: 3px solid #202846;
width: 264px;
}

.finish_mail {
    position: absolute;
    top: 3350px;
       left: 1224px;
       font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #000000;
   text-align: center;
}