.alltext {
    max-width: 1440px;
    margin:auto;
}

h1 {

    color: #28CDE3;

    text-align:center;
    
}
.header {
    color: black
}
div#tekst_sverhu_kartinki {

    position: relative;
    
    }
    .tekst_sverhu_kartinki {

    text-align:left;
    
    position: absolute;
    
    top: 228px;
    
    left: 163px;

    }
    h2 {
    
        color: aliceblue;

        font-size:64px;
    }
    .rectangle_sleva {

        position:absolute;
    
        top: 228px;
        
        left: 80px;

    }
    .textfirst {
        font-size: 48px;

        margin-bottom:0%;

        margin-top: 40px;

        margin-left: 76px;
    }
    .Rectangle3 {
        margin:0%;

        margin-left: 76px;
}
.card {
    
	float:left;

    margin-top: 121px;

    margin-left: 60px;

    margin-bottom: 0px;

    font-size: 32px;

    border: 0,5px solid #FFFEFE ; 

    background: #FFFEFE;

    width: 399px;	height: 485px; 

    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);

    border-radius: 30px;

   
}
.hand_паркшевченко {
    position:absolute;
    margin-left: 240px;
    margin-top: 30px;
}



 .firsttitle {
    font-family: 'Inter';

    font-style: normal;

    font-size: 36px;

    font-weight: 700;

    margin-top: 0px;

    margin-bottom: 0%;

    color: #33B8F1;

    line-height: 167.02%;
    
    }
    .secondtitle {
        font-family: 'Inter';

        font-weight: 700;

        font-size: 36px;

        line-height: 167.02%;
    
    }
    .cardtext {
        
        font-size: 32px;

        color: #595050;

        line-height: 53.45px;

        font-family: "Inter";

        font-weight: 400;
        }
        .card_text_second {

        position: absolute;

        margin-top: 19px;

        font-family: 'Inter';

        font-weight: 400;

        font-size: 32px;

        color: #595050;

        line-height: 100px;
}
       
.titleUkraine {
    position: absolute;

    width: 700px;

    height: 64px;

    left: 467px;

    top: 1761px;
    
    font-family: 'Inter';

    font-weight: 700;

    font-size: 48px;

    line-height: 80px;
  
    color: #000000;
}

.rectangle9 {
    width: 361px;

    height: 5px;

    margin-top: 199px;

    margin-left: 520px;   
}
.we_stand_with_ukraine {
    width: 973px;

    height: 877px;

    margin-top: 42px;

    margin-left: 228px;
}
.Rectangle10 {
    position: relative;

    margin-left: 499px;

    margin-top: 20px;
}
.ПІДРИМАТИ {
    position: absolute;

    margin-left: 550px;

    font-weight: 700;

    font-size: 48px;

    top: 2790px;

    color: #FFFFFF;
}
.rectangle11 {
    position: relative;

    margin-top: 231px;
}
.endtext {
    position: absolute;

    margin-left: 480px;

    top: 3110px;

    font-weight: 400;

   font-size: 64px;

   color: #28CDE3;

}
.end {
    color: #F8F5F5;
}
.email {
    position: absolute;

    margin-left: 577px;

    top: 3225px;

    font-weight: 400;

    font-size: 32px;
}
a {
    color: #353949;
    text-decoration:underline;
    }
a:hover {
    color:  #353949;

    text-decoration: underline;
    }
.telefon {
    position: absolute;

    margin-left: 577px;

    top:3350px;

    font-weight: 400;

    font-size: 32px;
}
.social-icons {
    position: absolute;

    display: flex;

    justify-content: center;

    list-style: none;

    margin-left: 345px;

    top: 3403px;
     
}
.social-icons>li {
    margin-left: 74px;
}
.social-icons a {
    position: relative;

    background-color: #0931BF;

    display: block;

    width: 68px;

    height: 64px;

    border-radius: 64px;
}

.twitter_img {
    position: absolute;

    margin-top: 13px;

    margin-left: 14px;
}
.telegram_img {
    position: absolute;

    margin-top: 8px;

    margin-left: 6px;
}
.inst_img {
    position: absolute;

    margin-top: 8px;

    margin-left: 10px;
}
.facebook_img {
    position: absolute;

    margin-top: 13px;

    margin-left: 11px;
}
